.container {
  background: #111;
  color: white;
  min-height: 400px;
}

/* HERO */
.hero {
  height: 100vh;
  background-image: url("https://image.tmdb.org/t/p/original/8Y43POKjjKDGI9MH89NW0NAzzp8.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 40px;
  color: white;
}

.hero h1 {
  font-size: 2.5rem;
}

.hero p {
  font-size: 1.2rem;
}


/* SECTION */
.section {
  margin-bottom: 40px;
}

.title {
  font-size: 20px;
  margin: 15px 20px;
}

/* GRID SYSTEM */
.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 15px;
  align-items: start;
}

/* TABLET */
@media (max-width: 1024px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* MOBILE */
@media (max-width: 480px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .hero {
    padding: 40px 15px;
    height: 45vh;
  }

  .hero h1 {
    font-size: 1.6rem;
  }

  .hero p {
    font-size: 1rem;
  }
}